<footer>
    <div class="copy-r">
        <p>© 2023 All rights reserved.</p>
    </div>
    <div class="footer-tag">
        <i class="fab-fa-github"></i>&nbsp;<a href='https://github.com/Mostafa-Naghipoor'>Mostafa</a>
        <i class="fab-fa-github"></i>&nbsp;<a href='https://github.com/Njoe00'>Nicholas</a> and 
        <i class="fab-fa-github"></i>&nbsp;<a href='https://github.com/Sohaib-GO'>Sohaib</a></p> 
    </div>
</footer>