<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/_header') %>
</head>
<body>
    <h3>My account</h3>
    <table class="user_info_table">
        <thead>
        
        <tbody>
        </tbody>
        </thead>
    </table>
</body>
</html>