<!DOCTYPE html>
<html>
  <head>
    <title>Menu Admin</title>
  </head>
  <!-- HTML for creating a new menu item -->
<div id="create-menu-item-form">
  <h2>Create Menu Item</h2>
  <label for="food-name">Food Name</label>
  <input type="text" id="food-name" name="food_name" required>
  <br>
  <label for="food-description">Food Description</label>
  <input type="text" id="food-description" name="food_description" required>
  <br>
  <label for="price">Price</label>
  <input type="number" id="price" name="price" required>
  <br>
  <label for="food-category">Food Category</label>
  <input type="text" id="food-category" name="food_category" required>
  <br>
  <label for="image-url">Image URL</label>
  <input type="text" id="image-url" name="image_url" required>
  <br>
  <button id="create-menu-item-button">Create Menu Item</button>
</div>

<!-- HTML for displaying a list of all menu items -->
<div id="menu-items">
  <h2>Menu Items</h2>
  <ul id="menu-item-list"></ul>

</div>

<!-- HTML template for a single menu item -->
<!-- <div id="menu-item-template" >
  <li class="menu-item">
    <span class="food-name"></span>
    <div class="update-menu-item-form">
      <label for="update-food-name">Food Name</label>
      <input type="text" class="update-food-name" name="update-food-name" required>
      <br>
      <label for="update-food-description">Food Description</label>
      <input type="text" class="update-food-description" name="update-food-description" required>
      <br>
      <label for="update-price">Price</label>
      <input type="number" class="update-price" name="update-price" required>
      <br>
      <label for="update-food-category">Food Category</label>
      <input type="text" class="update-food-category" name="update-food-category" required>
      <br>
      <label for="update-image-url">Image URL</label>
      <input type="text" class="update-image-url" name="update-image-url" required>
      <br>
      <button class="update-menu-item-submit-button">Update Menu Item</button>
      <button class="cancel-update-menu-item-button">Cancel</button>
    </div>
  </li>
</div> -->

<script src="/vendor/jquery-3.0.0.js"></script>
<script defer src="/scripts/admin.js"></script>
</body>
</html>

