<!DOCTYPE html>
<html data-filepath="../../views/admin.ejs">
  <head>
    <title>Menu Admin</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/admin.css"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
  
  </head>

<a href="/admin/orders">Check orders !</a>  
  <!-- HTML for creating a new menu item -->
<div id="create-menu-item-form">
  <h2>Create Menu Item</h2>
  <label for="food-name">Food Name</label>
  <input type="text" id="food-name" name="food_name" required>
  <br>
  <label for="food-description">Food Description</label>
  <input type="text" id="food-description" name="food_description" required>
  <br>
  <label for="price">Price</label>
  <input type="number" id="price" name="price" required>
  <br>
  <label for="food-category">Food Category</label>
  <input type="text" id="food-category" name="food_category" required>
  <br>
  <label for="image-url">Image URL</label>
  <input type="text" id="image-url" name="image_url" required>
  <br>
  <button id="create-menu-item-button">Create Menu Item</button>
</div>

<!-- HTML for displaying a list of all menu items -->
<div id="menu-items">

</div>
 

<script src="/vendor/jquery-3.0.0.js"></script>
<script type="module" defer src="/scripts/admin.js"></script>
</body>
</html>

