<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
</head>
<body>
  <form action="/users/menu" method="GET">
    <button class="order-button" type="submit">
    Order Now
    </button>
  </form>
</body>
</html>
