<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
</head>
<body>
  <div class="welcome-message">Welcome, <%= typeof username !== 'undefined' ? username : 'Guest' %>!</div>

  <form action="/menu" method="GET">
    <button class="order-button" type="submit">
    Order Now
    </button>
  </form>
</body>
</html>
