<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include('partials/_header') %>
    <link rel="stylesheet" href="/styles/menu.css">
  </head>
  <body>        
  </body>
</html>

