<nav>
    <div class="topnav">
      <a class="active" href="/homepage">Home</a>
      <a class="nav-item nav-link-left" href="/Menu">Menu</a>
      <a class="nav-item nav-link-left" href="/contact">Contact</a>
      <a class="nav-tiem nav-link-right" href="/login">Login</a>
      <a class="nav-tiem nav-link-right" href="/register">register</a>
  </nav>

