<nav>
    <div class="topnav">
      <a class="active" href="/users/homepage">Home</a>
      <a class="nav-item nav-link-left" href="/users/Menu">Menu</a>
      <a class="nav-item nav-link-left" href="/users/contact">Contact</a>
      <a class="nav-tiem nav-link-right" href="/users/login">Login</a>
      <a class="nav-tiem nav-link-right" href="/users/register">register</a>
  </nav>

