

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/orders.css"/>
  <title>Orders</title>
</head>
<body class="all-content">
  <div> 
    <h1 class="title">  Pending orders 
    </h1>
<%
  // Group menu items by order_id
  const groupedMenuItems = {};
  orders.forEach(order => {
    if (!groupedMenuItems[order.id]) {
      groupedMenuItems[order.id] = [];
    }
    groupedMenuItems[order.id].push(order);
  });
%>

<% for (let orderId in groupedMenuItems) { %>
  <div class="pending-order">
    <h2 class="order-id"><%= `Order #${orderId}` %></h2>
    <ul class="order-items">
      <% for (let j = 0; j < groupedMenuItems[orderId].length; j++) { %>
        <li>
          <span class="item-name"><%= groupedMenuItems[orderId][j].food_name %></span> x <span class="item-quantity"><%= groupedMenuItems[orderId][j].quantity %></span>
          <br>
          Price: <span class="item-price"><%= groupedMenuItems[orderId][j].price %></span>
          <br>
        </li>
      <% } %>
    </ul>
 

    <form class="confirm-order-form" action="/admin" method="POST" type="submit">
      <label for="wait-time">Estimated wait time (minutes):</label>
      <input type="number" name="wait-time" min="0" required />
     <input type="submit" value="Confirm Order" class="button" />
    </form>
  </div>
  <div id="success-message"></div>
<% } %>
<script src="/vendor/jquery-3.0.0.js"></script>
<script type="module" defer src="/scripts/admin.js"></script>
<script  type="module" defer src="/scripts/users.js"></script>
</div>
</body>
</html>
