<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
  <div class="right-div" >
    <div class="right-side">
      <h1>Register Form</h1>
        <form class="register_button" action="/register" method="POST">
        <label for="email">email</label>
        <input class="email_textbox" type="email" name="email" placeholder="email">
          <label for="password">password</label>
          <input class="form-control" type="password" name="password" placeholder="password"/>
          <button type="submit" class="btn btn-primary">register</button>
        </form>
    </main>
</body>
</html>