<body>
    <main style="margin: 1em;">
      <h2>Create User</h2>
        <form class="form-inline" action="/users/register" method="POST">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" placeholder="email"/>
          <label for="password">password</label>
          <input class="form-control" type="password" name="password" placeholder="password"/>
          <button type="submit" class="btn btn-primary">register</button>
        </form>
    </main>
</body>