<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
  <div class="right-div" >
    <div class="right-side">
      <h1>Register Form</h1>
        <p>First Name</p>
        <input type="text">
        <p>Last Name</p>
        <input type="text">
        <p>Your Email</p>
        <input type="text">
        <p>Address</p>
        <input type="text">
        <p>Phone Number</p>
        <input type="text">
        <p>Password</p>
        <input type="text">
        <p>Confirm Pasword</p>
        <input type="text">
        <button class="register">
          <p>Register</p>
        
        </button>
    </div>
      
  </div>
  <div class="left-div">
    <p></p>
  </div>
 
  
</body>
</html>