<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
  <div>
      <%- include('partials/_header') %>
  </div>
  <div >
    <div >
    <div class="right-side">
      <h1>Register Form</h1>
      <form class="register_form" action="/register" method="POST">
        <div class="inp-1" >
        </div>
        <p>Full Name</p>
        <input type="text" name="name">
        <p>Your Email</p>
        <input type="email" name="email" size="50">
        <p>Address</p>
        <input type="text" name="address" size="50">
        <p>Phone Number</p>
        <input type="text" name="phone_number" size="50">
        <p>Password</p>
        <input type="text" name="password">
        <button type="submit" class="register">
        <p>Register</p>
        </button>
      </form>
    </div>
   
 
        

    </div>
    <form class="sign-in_redirct" action="/login" action="POST">
      <div class="left-side">
        <div class="left-side-text">
          <p>have an account already ?</p>
          <p>click here to sign in</p>
          <button class="here">
            <p>here</p>
          </button>
    </form>
  </div>
  
    </div>
      
  </div>

</body>

</html>