
body {
  background-color: rgb(211, 243, 249);
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
  }
#create-menu-item-button {
    font-family: "Rubik Bubbles", cursive;
    font-weight: lighter;
    background-color: rgb(204, 208, 4);
    border-radius: 11%;
    transition: 0.5s;
    border-color:rgb(204, 208, 4);
    color: rgb(83, 79, 79);
  
  }
#create-menu-item-button:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;

  }
 
#create-menu-item-form {
    background-color: rgb(131, 213, 229);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 500px;
    height: 500px;
    border-radius: 4%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    transition: 0.5s;
    
}

input {
    background-color: rgb(238, 245, 240);
    margin-left: 80px;
    font-family: 'Rubik Bubbles';
    padding: 3px;
    margin-right: 60px;
    border-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    
  }
  label,  h2 {
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    
  }

