body {
  background-color: rgb(255, 255, 255);
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
  }

#create-menu-item-button {
    font-family: "Rubik Bubbles", cursive;
    font-weight: lighter;
    background-color: #3070be;
    border-radius: 6%;
    transition: 0.5s;
    border-color: #3070be;
    color: rgb(0, 0, 0);
  
  }
  
#create-menu-item-button:hover {
    background: #868788;
    color: rgb(8, 5, 5);
    transition: 0.5s;

  }
 
#create-menu-item-form {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 5px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    transition: 0.5s;
    outline: none;
    outline-style: none;
    
}

input {
  background-color: rgba(231, 220, 220, 0.246);
  border-color: rgba(231, 220, 220, 0.246);
  margin-left: 80px;
  font-family: 'helvetica';
  border-radius: 0% !important;
  color: black !important;
  padding: 3px 10px;
  margin-right: 60px;
  color: #eeeeee;
  border-radius: 3px 10px;
  }

  label,  h2 {
    font-family: 'Rubik Bubbles', cursive;
    font-weight: lighter;
    
  }

