footer{
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    border-top: 5px #ffffff;
    color: #000000;
    background-color: #ffffff;

}

.copy-r {
    display: flex;
    flex:start;
}
.footer-tag {
    display: flex;
    gap: 2px;

    
}