* {box-sizing: border-box;}

.nav-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem; 
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 0.1
}

.a {
    padding: 12px;
    font-family: 'helvetica';
    font-size: 25px;
    text-decoration: none;
    color: black;
    

}

.a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    padding: 12px;
    font-family: 'helvetica';
    font-size: 25px;
    color: white;
    background: dodgerblue;
    text-decoration: none;
    


}

.logged_in {
    padding: 12px;
    font-family: 'helvetica';
    font-size: 25px;
}
// .topnav{
//     width: 100%;
//     height: 6rem;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     background-color: rgb(255, 153, 127);

// }
// .logo-container{
//     flex: 1 1 30%;


// }
// .link-container{
//     flex: 1 1 70%;


// }