.nav-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
// .topnav{
//     width: 100%;
//     height: 6rem;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     background-color: rgb(255, 153, 127);

// }
// .logo-container{
//     flex: 1 1 30%;


// }
// .link-container{
//     flex: 1 1 70%;


// }