
.index-h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  
    background-image: linear-gradient(#FFB100, #FADA9D);
    width: 100%;
    height: 10rem;
    margin: 0;
  }
  .logo-con{
    display: flex;
    flex-direction: column;
  }
  
  .logo-con2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .link-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .link-con li {
    list-style-type: none;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size: 1.6rem;
    color: #8251ae;
    padding-left: 2rem;
   
  
  
  }
  .link-con li a{
    text-decoration: none;
  }
  .link-con li a:visited{
    color: #8251ae;
  }
  .ulogo{
    display: flex;
    font-family: 'Righteous', cursive;
    font-size:1rem;
    color: #8251ae;
    display: flex;
    padding-left: 10px;
  }
  .logoPic {
    display: flex;
    align-items: flex-start;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .logo {
    display: flex;

    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size:4rem;
    color: #8251ae;
  }
.navbar {
    background-color: #242e4c;
}

.cover {
    background: url('https://images.unsplash.com/photo-1562636714-d4683c37e832?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.bg-orange {
    background-color: #ff6144!important;
}

.vh-80 {
    min-height: 84vh;
}

.sign__container {
    width: 60%;
}

.navbar-top {
    display: flex;
    justify-content: center;
    flex-direction: row;

}


@media (min-width: 1200px) {
    .sign__container {
        width: 350px;
    }
    .subtitle-mb{
        margin-bottom: 5.5rem!important;
    }
}