body * {
    font-family: 'Poppins', sans-serif;
   
  }
  [v-cloak] {
    display: none;
  }
  
  .main {
    flex: 3;
  }
  
  .textwhite {
    color: #000000 !important;
  }

  .sidebar {
    flex: 1;
    background-color: #fff !important;
  }
  
  .custom-rounded {
    border-radius: 25px;
  }
  .category-img {
    background-color: #ffffff !important;
  }
  .custom-tr-rounded {
    border-radius:  0 25px 0 0;
  }
  
  
  .timer {
    background: rgba(217, 194, 105, .2);
  }
  
  .text-xxs {
    font-size: .7rem;
  }
  .logo {
    display: flex;

    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size:4rem;
    color: #8251ae;
  }
  .nav-top {
    display: flex;
  }
  .nav-right {
   padding-left:50%;
  }
  .ulogo{
    display: flex;
    font-family: 'Righteous', cursive;
    font-size:1rem;
    color: #8251ae;
    display: flex;
    padding-left: 10px;
  }
  .logoPic {
    display: flex;
    align-items: flex-start;
    width: 80px;
    height: 80px;
    float: left;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  #menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #000000;
    border-width: 10px;
  
        }

  .menu-container {
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    background: #ffffff;
    overflow: hidden;
    height: 500px;
    width:300px !important;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 40%;
    margin : 2rem;
    width: calc(33.333% - 20px); /* 3 items per row with some margin */
    margin: 10px;

  }
  
  .menu-container img {
    width: 100%;
    height: 230px;
    padding: 25px;
    border-radius: 20%;
  }
  .menu-container .empty {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    margin-top: 12rem;


  }


  
  .order-info {
    display: grid !important;
    grid-template-columns: auto auto auto auto !important;
    }






  .menu-container .empty button {
    background-color: #008CBA;
    color: white;
    border-radius: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-container .empty button:hover {
    background-color: darkblue;
  }
  
    
  .fav-food {
    
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    
  }

  .food-list__item {
    list-style-type: none;
    justify-content: space-between;
    justify-content: space-around;
    padding-left: 30px;

  }
  .food-image {
    width: 257px;
    height: 232px;
    border-radius: 20%;
    // margin-left: 5%;
    // padding: 5%;
    
  }
.food-name, .food-price {
  text-align: center;
  font-weight:lighter;
  font-family: 'Rubik Bubbles', cursive;
  font-size: large;
  color: rgb(114, 175, 239);
}


.price {
  padding-bottom: 15px;
  color: black
}

.popular-food {
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8251ae;
  font-family: 'Rubik Bubbles', cursive;
  font-size: 2rem;
   
}

  
  
  .content-box {
    position: absolute;
    z-index: 1;
    bottom: 7px;
    width: 255px;
    height: 285px;
    color: rgb(0, 0, 0);
    padding: 0 7px;
    border-radius: 10px 10px 15px 15px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .content-box p {
    color: #000000;
    font-size: 16px;
    
  }
  
  .btn {
    width: 248px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 7px 0 0;
  }
  
  .btn a {
    width: 150px;
    font-size: 13px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border: none;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #f9b02d;
    border-radius: 7px;
    margin-left: 10px;
  }
  
  .headerContainer{
    
    display: flex;
    flex-direction: row;
    
  }
  .page-header-item{
    flex:0 1 200px;
  }
  .page-header-item:last-child{
    flex-grow: 1;
    text-align: right;
  }
  
  .navigation-list{
    width: 50%;
    height: 3rem;
    padding: 30px;
    border-radius: 10px;
    background-color: transparent;
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 15px;

  }

  .text-menu {
    font-size: 30px;
    font-weight: bold;
  }
  
  #search-button {
    border:none;
    border-bottom: bold;
    border: rgb(4, 3, 3) 1px solid !important;
    color: #000000 !important;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  .navigation-list input {
  
  border: none;
  border-style: solid;
  border-width:1px;
  border-right: #a09e9e;
  border-left: #8f8e8e;
  border-top: #919090;
  }
  .navigation-list li{
  
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
  }
  .navItems{
    text-decoration:none;
    
    
  }
  .search {
    border-radius: 5%;
    display: flex;
    align-items:flex-start;
    width: 110px;
    
  }
  .footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header{
    width: 100%;
    height: 4rem;
    background-color: #8251ae;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav{
    display: flex;
  }
  
 
  .name {
    font-size: 20px;
    font-weight: bold;
  }

.index-h{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: #b1a7a7;
  border-style: solid;
  border-width: 1px;

  background-image: linear-gradient(#ffffff, #ffffff);
  width: 100%;
  height: 5rem;
  margin: 0;
}
.logo-con{
  display: flex;
  flex-direction: column;
}

.logo-con2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.link-con{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link-con li {
  list-style-type: none;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 1rem;
  color: #000000;
  padding-left: 2rem;
}


.mt-12.p-6.bg-purple-800.custom-rounded.font-hairline.text-xs{
  background-color: #ffffff !important;
  border: #000000 !important;
  border-width:  1px !important;
  border-style: solid !important;
  color: black !important;
}
.font-medium-text-xl {
  font-size: 30px;
  font-style: bolder !important;
}
.pic-box-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.img-shadow{
  width: 1285px;
  height: 360px;
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 10px 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.fav-style{
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 1.6rem;
  color: #000000;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 9px;


}
.fav-but{
  background-color: #ffffff!important;
  padding-left: 3rem!important;
  padding-right: 3rem!important;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 1.2rem!important;
  color: #8251ae!important;


}

@media (max-width:500px){
  .menu-container {
    display: flex;
    flex-direction: column;
  }
 .popular-food   {
    display: flex;
    flex-direction: column;

 }
 .content-box {
  display: flex;
  flex-direction: column;
 }
 .btn {
  display: flex;
  flex-direction: column;
 }
 .headerContainer {
  display: flex;
  flex-direction: column;
 }
 .navigation-list{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
 }
 .nav{
  display: flex;
  flex-direction: column;
}

.index-h {
  display: flex;
  flex-direction: column;
}
.side-shadow {
  display: flex;
  flex-direction: column;
  margin-left: 102px;
  margin-right: 52px;
}
.px-6 {
  display: flex;
  flex-direction: column;
  border-top: 600px;
}
.main {
display: flex;
flex-direction: column;

}
.grid {
  display: flex;
  flex-direction: column;
}

.fa.fa-user {
  color: #ffffff;
}

.fav-food {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.search-results {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

}