body * {
    font-family: 'Poppins', sans-serif;
  }
  [v-cloak] {
    display: none;
  }
  
  .main {
    flex: 3;
  }
  
  .sidebar {
    flex: 1;
  }
  
  .custom-rounded {
    border-radius: 25px;
  }
  .category-img {
    background-color: #ffffff !important;
  }
  .custom-tr-rounded {
    border-radius:  0 25px 0 0;
  }
  
  
  .timer {
    background: rgba(217, 194, 105, .2);
  }
  
  .text-xxs {
    font-size: .7rem;
  }
  .logo {
    display: flex;

    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size:4rem;
    color: #8251ae;
  }
  .nav-top {
    display: flex;
  }
  .nav-right {
   padding-left:50%;
  }
  .ulogo{
    display: flex;
    font-family: 'Righteous', cursive;
    font-size:1rem;
    color: #8251ae;
    display: flex;
    padding-left: 10px;
  }
  .logoPic {
    display: flex;
    align-items: flex-start;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  #menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
        }
  .menu-container {
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    background: #8251ae;
    overflow: hidden;
    height: 500px;
    width:300px !important;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 40%;
    margin : 2rem;
    width: calc(33.333% - 20px); /* 3 items per row with some margin */
    margin: 10px;

  }
  
  .menu-container img {
    width: 100%;
    height: 230px;
    padding: 35px;
  }
  .menu-container .empty {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    margin-top: 12rem;


  }


  
  .order-info {
    display: grid !important;
    grid-template-columns: auto auto auto auto !important;
    }






  .menu-container .empty button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-container .empty button:hover {
    background-color: darkblue;
  }
  
  
  
    
  .fav-food {
    
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    
  }

  .food-list__item {
    list-style-type: none;
    justify-content: space-between;
    justify-content: space-around;
    padding-left: 30px;

  }
  .food-image {
    width: 257px;
    height: 232px;
    border-radius: 20%;
    // margin-left: 5%;
    // padding: 5%;
    
  }
.food-name, .food-price {
  text-align: center;
  font-weight:lighter;
  font-family: 'Rubik Bubbles', cursive;
  font-size: large;
  color: rgb(114, 175, 239);
}


.price {
  padding-bottom: 15px;
}

.popular-food {
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8251ae;
  font-family: 'Rubik Bubbles', cursive;
  font-size: 1rem;
   
}

  
  
  .content-box {
    position: absolute;
    z-index: 1;
    bottom: 7px;
    width: 255px;
    height: 230px;
    color: #fff;
    padding: 0 7px;
    border-radius: 10px 10px 15px 15px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .content-box p {
    color: #000000;
    font-size: 14px;
    
  }
  
  .btn {
    width: 248px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px 0 0;
  }
  
  .btn a {
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: #f9b02d;
    border-radius: 7px;
  }
  
  .headerContainer{
    
    display: flex;
    flex-direction: row;
    
  }
  .page-header-item{
    flex:0 1 200px;
  }
  .page-header-item:last-child{
    flex-grow: 1;
    text-align: right;
  }
  
  .navigation-list{
    width: 50%;
    height: 3rem;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 15px;

  }

  #search-button {
    border: #fff 1px solid;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  .navigation-list input {
  border-radius: 5px;
  }
  .navigation-list li{
  
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
  }
  .navItems{
    text-decoration:none;
    
    
  }
  .search {
    border-radius: 5%;
    display: flex;
    align-items:flex-start;
    width: 110px;
    
  }
  .footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header{
    width: 100%;
    height: 4rem;
    background-color: #8251ae;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav{
    display: flex;
  }
  
  @media all and (max-width:550px){
    .main {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      padding-left: 115px;
    }

  }
    
  





