body {
  background: #ABCDEF;
  background-image: url(../images/register_bg.jpg);
  font-family: Assistant, sans-serif;
  display: flex;
  min-height: 90vh;
  background-size: cover;
}

.username_holder {
  font-weight: bold;
  margin-top: 25%;
}

.password_holder {
  margin-top: 25%;
  margin-bottom: 1px;
  font-weight: bold;
}

.login {
  color: rgb(0, 0, 0);
  background:#ffffff;
    margin: auto;
    box-shadow:
    0px 2px 10px rgba(0,0,0,0.2),
    0px 10px 20px rgba(0,0,0,0.3),
    0px 30px 60px 1px rgba(0,0,0,0.5);
  border-radius: 8px;
  border: black;
  padding: 50px;
}
.login .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .head .company {
  font-size: 2.2em;
}
.login .msg {
  text-align: center;
}
.login .form input[type=text].text {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px rgb(117, 114, 114);
  width: 100%;
  color: rgb(237, 233, 233);
  font-size: 1em;
  outline: none;
}
.login .form .text::placeholder {
  color: #999696;
}
.login .form input[type=password].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px #999696;
  width: 100%;
  color: rgb(1, 1, 1);
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login .form .password::placeholder {
  color: #999696;
}
.login .form .btn-login {
  background: #3070be;
  text-decoration: none;
  font-weight: bold;
  color: #130f0f;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}

.btn-login {
  background: rgb(66, 66, 233);
  text-decoration: none;
  color: rgb(66, 66, 223);
  box-shadow: 0px 0px 0px 2px rgb(66, 66, 223);
  border-radius: 3px;
  margin: 40px;
  transition: 0.5s;
}

.login .form .btn-login:hover {
  background: rgb(188, 185, 185);
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.login .forgot {
  text-decoration: none;
  color: white;
  float: right;
}
footer {
  position: absolute;
  color: #136a8a;
  bottom: 10px;
  padding-left: 20px;
}
footer p {
  display: inline;
}
footer a {
  color: green;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .heart {
  color: #B22222;
  font-size: 1.5em
}
@media all and (max-width:350px){
  body {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-left: 115px;
  }

}
  
@media all and (max-width:550px){
  body {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-left: 115px;
  }

}
