  body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFEDD5;

  }
  
  div.pending-order {
    background-color: rgba(185, 126, 37, 0.9) ;
    /* Add some padding */
    padding: 1rem;
    /* Add some margin to give some space between orders */
    margin: 1rem 0;
    /* Use a box shadow to give the element some depth */
    box-shadow: 0 2px 4px rgba(249, 241, 241, 0.1);
    /* Use rounded corners */
    border-radius: 10px;
  }
  

  
  .title {
    /* Use flexbox to center the form */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  form {
    /* Use flexbox to center the form */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .order-items {
    /* Use flexbox to center the form */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
  }

  .all-content {
    /* Use flexbox to center the form */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input {
    /* Add some padding */
    padding: 0.5rem;
    /* Add some margin to give some space between inputs */
    margin: 0.5rem 0;
    /* Use rounded corners */
    border-radius: 5px;
    /* Use a box shadow to give the element some depth */
    box-shadow: 10px 12px 4px rgba(0, 0, 0, 0.1);
    /* Use a border to give the element some depth */
    border: 1px solid rgba(11, 0, 0, 0.1);

  }
  .button {
    cursor: pointer;
    background-color: rgb(83, 74, 74);
    color: white;
    transition: background-color 0.5s ease-in-out; /* Add the transition here */

  }
  .button:hover {
    background-color: black;
    color: white;
  }
  