
input {
  background-color: rgb(238, 245, 240);
  padding:10px;
}
p {
  
  font-family: 'Rubik Bubbles', cursive;;
}
h1 {
  font-family: 'Rubik Bubbles', cursive;
  font-weight: lighter;
}

.inp-1, .input-2 {
  
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-left: 5px;
  justify-content: center;
  
  
}
.inp-1 p {
  padding-right: 10px;
  padding-left: 20px;
}
.input-2 p {
  padding-right: 10px;
  padding-left: 20px;
}

.right-side {
  position: absolute;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  align-items:center ;
  width:1000px;
  height:560px;
  margin-top: 220px;
  margin-left: 700px;
  padding: 30px;
  background-color: rgb(249, 247, 245);
 
  
}
.left-side {
  position: absolute;
  justify-content:flex-start;
  flex-direction: column;
  align-items:center;
  display: flex;
  margin-top: 220px;
  margin-left: 300px;
  background-color:rgb(96, 162, 225);
  width: 600px;
  height: 620px;

 
}
.left-side-text {
  margin-top: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
  
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  background-color: rgb(118, 118, 240);
  color: antiquewhite;
  font-family: 'Rubik Bubbles', cursive;
  margin-top: 5px;

}
.register:hover {
  background-color: rgb(131, 131, 147);
  transition: 0.5s;
}
.here {
  background-color: rgb(237, 237, 238);
  transition: 0.5s;
  border-radius: 15%;
  width: 50px;
}
